.img {
  width: 50%;
  height: 100%; 
  left: 150px; 
  top: 10px;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 300px) {
  .img {
    display: none;
  }
}

.SMLogo{
  width: 91.011px;
  height: 90px;
  flex-shrink: 0;
  background: url("../../assets/styleme-logo.png") transparent 50% / contain no-repeat;
}

.BlueBackground{
  background: #14213D;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.Frame31 {
  display: inline-flex;
  padding: 4px;
  flex-direction: column;
  gap: 8px;
}

.Frame36556{
  color: #FCA311;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 4px;
}

.LetsGetStarted{
  color: #FCA311;

  font-family: Manrope;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1em;
}

.CreateYourStylemeAccount{
  color: #FCA311;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 1em;
}

.Frame36561{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;  
}

.Frame36557{
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid var(--text-color-disabled, #D1D7F0);
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(142, 142, 142, 0.08);
}

.Frame36554{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.InputField{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.FieldTitle{
  color: var(--text-color-secondary, #102477);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.InputFieldContainer{
  width: 327px;
  height: 56px;
  border: none; 
  border-radius: 8px;
  background: var(--nautral-color-04, #E1E6EF);
  outline: none;
  font-size: 16px;
}

.InputFieldContainer::placeholder{
  color: var(--primary-tint-03, #8B9AD8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.InputFieldContainer:focus {
  border: none; 
}

.error {
  color: red;
  font-size: 12px;
}


.EntryField{
  color: var(--primary-tint-03, #8B9AD8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Frame36553{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
 
.Frame36552{
  display: flex;
  width: 327px;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex-wrap: wrap;}

.HelperText{
  width: 114px;
  flex-shrink: 0;
  color: var(--neutral-400, #9CA3AF);
  font-feature-settings: 'salt' on;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PasswordValidation{
  display: flex;
  padding: 4px 6px;
  align-items: flex-start;
  gap: 2px;
  border-radius: 24px;
  background: var(--neutrals-text-neutral-200, #F3F5F6);
}

.PasswordValidation.met {
  background: #45F474; 
}

/* .PasswordValidation:not(.met) {
  background: #FF34AE;
} */


.BigAndSmallCaps{
  color: var(--neutrals-text-neutral-600, #848F9F);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}

.ButtonHead{
  display: flex;
  width: 150px;
  height: 35px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(252, 163, 17, 0.13);
  opacity: 0.5;
  background: #FCA311;
}

.ButtonHead::placeholder{
  color: #00040c;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.Button{
  color: #00040c;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}


.Frame35{
  display: flex;
  padding: 4px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;


}

.OfficialButtonsSignInWithGoogle{
  display: flex;
  width: 280px;
  height: 37px;
  padding: 1px 10px 1px 1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color:#F39B2B;
  
}


.Logo{
  display: flex;
  width: 38px;
  height: 38px;
  padding: 7.6px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1px;
}

.Wrapper{
  width: 22.8px;
  height: 22.8px;
  flex-shrink: 0;
}

.SignInWithGoogle{
  color: var(--secondary-tint-05, #F39B2B);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

